<div class="panel panel-primary" *ngFor="let tournament of tournaments">
  <div class="panel panel-heading">
    <h3 class="panel-title">{{ tournament.label }}</h3>
  </div>
  <div class="panel-body">Type de tournoi : {{tournament.gameType}}<br />
    Date du tournoi : {{tournament.date | date : "dd/MM/yyyy"}}<br />
    Nombre d'équipes / poule : {{tournament.nbTeamsPerPool}}<br />
    Joueurs / équipe : {{tournament.nbPlayersPerTeam}}<br />
    <h4><span *ngIf="!tournament.isActif" class="badge badge-default">Désactivé</span></h4>
    <h4><span *ngIf="tournament.isActif" class="badge badge-primary">Actif</span></h4>
    <h4><span *ngIf="tournament.isPublished" class="badge badge-primary">Publié</span></h4>
  </div>
  <div class="panel-footer">
    <a href="" (click)="onShow(tournament._id); false">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Edition du tournoi
      </button>
    </a>

    <a href="" (click)="onDelete(tournament._id); false">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-trash"></span> Suppression du tournoi
      </button>
    </a>
  </div>
</div>
