version: "2"
services:
    app:
      container_name: server
      restart: always
      build: server/
      ports:
        - "3000:3000"
      links:
        - mongo
        - front
    mongo:
      container_name: mongo
      image: mongo
      volumes:
        - ./data:/data/db
      ports:
        - "27017:27017"
    front:
      container_name: front
      restart: always
      build: .
      ports:
        - "80:80"
