<header>
  Bienvenue sur la page des tournois de Woopy OnOff
</header>
<div class="center">
  <img src="/assets/images/icon-144x144.png" />
  <!-- List of the active tournaments -->
  <div *ngIf="activeTournaments">
    <p>
      Veuillez choisir votre tournoi
    </p>
    <div class="game" *ngFor="let tournaments of activeTournaments">
      <div class="card card-block">
        <button>{{ tournaments.gameType }} - {{ tournaments.label }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="publishedTournaments">
    <p>
      Consultez les résultats d'un tournoi
    </p>
    <div class="game" *ngFor="let tournaments of publishedTournaments">
      <div class="card card-block">
        <button>{{ tournaments.gameType }} - {{ tournaments.label }}</button>
      </div>
    </div>
  </div>

</div>
