<h4>
  <p class="text-center">Configuration tournoi</p>
</h4>
<form (ngSubmit)="onSubmit()" #tournoiForm="ngForm">
  <div class="row">
    <div class="col-md-3 form-group">
      <label for="gameType">Type de jeu : </label>
      <select class="form-control" id="gameType"
          required
          [(ngModel)]="tournament.gameType" name="gameType">
        <option></option>
        <option *ngFor="let game of gameList" [value]="game.nom">{{game.nom}}</option>
      </select>
    </div>

    <div class="col-md-6 form-group">
       <label for="titre">Titre</label>
       <input type="text" class="form-control" id="titre"
          required [(ngModel)]="tournament.label" name="label" #label="ngModel"/>
       <div [hidden]="label.valid || label.pristine" class="alert alert-danger">
         Le titre est obligatoire
       </div>
    </div>

    <div class="col-md-3 checkbox">
      <label for="isActif">
        <input id="isActif" type="checkbox" [(ngModel)]="tournament.isActif" name="isActif" />Actif
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" placeholder="jj/mm/aaaa" id="datepicker" required
        [ngModel]="tournament.date | date:'yyyy-MM-dd'"
        (ngModelChange)="tournament.date = $event"
        [value]="date | date:'yyyy-MM-dd'" name="date" />
    </div>

    <div class="col-md-6"></div>

    <div class="col-md-3 checkbox">
      <label for="isPublished">
        <input id="isPublished" type="checkbox" [(ngModel)]="tournament.isPublished" name="isPublished">Publié
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 form-group">
      <label for="nbTeamsPerPool">Nombre d'équipes / poule</label>
      <div class="input-group">
        <div class="input-group-btn">
          <button class="btn btn-secondary" type="button"
            (click)="tournament.nbTeamsPerPool = tournament.nbTeamsPerPool - 1"
              [disabled]="tournament.nbTeamsPerPool <= 2">-</button>
        </div>
        <input type="number" ng-min="2" min="2" class="form-control" id="nbTeamsPerPool" value="{{tournament.nbTeamsPerPool}}" disabled>
        <div class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="tournament.nbTeamsPerPool = tournament.nbTeamsPerPool + 1">+</button>
        </div>
      </div>
    </div>
    <div class="col-md-9"></div>
  </div>

  <div class="row">
    <div class="col-md-3 form-group">
      <label for="nbPlayersPerTeam">Joueurs / équipes</label>
      <div class="input-group">
        <div class="input-group-btn">
          <button class="btn btn-secondary" type="button"
            (click)="tournament.nbPlayersPerTeam = tournament.nbPlayersPerTeam - 1"
            [disabled]="tournament.nbPlayersPerTeam <= 1">-</button>
        </div>
        <input type="number" min="1" id="nbPlayersPerTeam" class="form-control" value="{{tournament.nbPlayersPerTeam}}" disabled>
        <div class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="tournament.nbPlayersPerTeam = tournament.nbPlayersPerTeam + 1">+</button>
        </div>
      </div>
    </div>
    <div class="col-md-9"></div>
  </div>
  <p class="text-right">
    <button type="submit" class="btn btn-success" [disabled]="!tournoiForm.form.valid">Sauvegarder</button>
  </p>
</form>
