<h4>Configuration des poules</h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let pool of pools">
    Poule {{ pool.poolName }} - eq : {{pool.teams.length}}/{{currentTournament.nbTeamsPerPool}} - val ?/{{currentTournament.nbTeamsPerPool}}
    <a href="" (click)="deletePool(pool._id); false">
      <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </a>
  </li>
</ul>
<p class="text-center">
  <a href="" (click)="addPool(); false">
    <button type="button" id="addPool" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Poule
    </button>
  </a>
</p>
